@variants responsive {
  .masonry {
    display: grid;
    grid-gap: 2em; /* [1] Add some gap between rows and columns */
    grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
    grid-auto-rows: 250px; /* [3] Set the height for implicitly-created row track */
  }
  .break-inside {
    break-inside: avoid;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
